<div class="navbar-collapse collapse" id="navbar" align="center" style="margin-left: 40px; padding: 20px">
    <ul class="nav navbar-nav">
        <% @categories.each do |category| %>

		<%if category.name == @categoryName %>
            <li >
            <%= link_to category.name, category_path(category.id), class:"list-group-item active" %>
            </li>
		<%else%>
            <li >
            <%= link_to category.name, category_path(category.id), class:"list-group-item" %>
            </li>
		<% end %>            
        <% end %>
    </ul>
</div>