<section id="contact">
    <div class="animate-panel content-boxed">
        <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
                <h2><span class="text-success">Thank you for </span> your message</h2>
                <p>
                    I will get back to you shortyly.
                </p>
            </div>
        </div>
        
        <%= render 'partials/admin_notices' %>

    </div>
</section>

